<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cats</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h3>Cats available:</h3>
        <table class="table table-striped">
		    <tr>
		    <th>ID</th>
		    <th>NAME</th>
		    <th>AGE</th>
		    <th>IMAGE</th>
		    <th>ACTIONS</th>
		    </tr> 
		        <tr th:each="cat: ${cats}">
		        <td th:text="${cat.id}"/>
		        <td th:text="${cat.nickname}"/>
		        <td th:text="${cat.age}"/>
		        <td>
		        	<img th:src="${cat.image}" width="80" height="90"/>
		        </td>
		        <td <!--Link with object ID-->
					<a th:href="@{/cats/edit/{id}(id=${cat.id})}" class="btn btn-outline-primary">
    				<span>EDIT</span>
    				</a> 
    				
    			 <!--Link with object ID-->
					<a th:href="@{/cats/delete/{id}(id=${cat.id})}" class="btn btn-outline-primary">
    				<span>DELETE</span>
    				</a> 	
				</td>
		    </tr>
	    </table>
	    <div>
	        <a th:href="@{/cats/add}" class="btn btn-outline-primary">ADD CAT</a>
	    </div>
    
	</div>
</body>
</html>